.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px; }
	.row:after {
		content: "";
		display: table;
		clear: both; }
	.row .col {
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 0.75rem; }
		.row .col.s1 {
			width: 8.33333%;
			margin-left: 0; }
		.row .col.s2 {
			width: 16.66667%;
			margin-left: 0; }
		.row .col.s3 {
			width: 25%;
			margin-left: 0; }
		.row .col.s4 {
			width: 33.33333%;
			margin-left: 0; }
		.row .col.s5 {
			width: 41.66667%;
			margin-left: 0; }
		.row .col.s6 {
			width: 50%;
			margin-left: 0; }
		.row .col.s7 {
			width: 58.33333%;
			margin-left: 0; }
		.row .col.s8 {
			width: 66.66667%;
			margin-left: 0; }
		.row .col.s9 {
			width: 75%;
			margin-left: 0; }
		.row .col.s10 {
			width: 83.33333%;
			margin-left: 0; }
		.row .col.s11 {
			width: 91.66667%;
			margin-left: 0; }
		.row .col.s12 {
			width: 100%;
			margin-left: 0; }
		.row .col.offset-s1 {
			margin-left: 8.33333%; }
		.row .col.offset-s2 {
			margin-left: 16.66667%; }
		.row .col.offset-s3 {
			margin-left: 25%; }
		.row .col.offset-s4 {
			margin-left: 33.33333%; }
		.row .col.offset-s5 {
			margin-left: 41.66667%; }
		.row .col.offset-s6 {
			margin-left: 50%; }
		.row .col.offset-s7 {
			margin-left: 58.33333%; }
		.row .col.offset-s8 {
			margin-left: 66.66667%; }
		.row .col.offset-s9 {
			margin-left: 75%; }
		.row .col.offset-s10 {
			margin-left: 83.33333%; }
		.row .col.offset-s11 {
			margin-left: 91.66667%; }
		.row .col.offset-s12 {
			margin-left: 100%; }

		@media only screen and (min-width : 330px) {
			.row .col.sm1 {
				width: 8.33333%;
				margin-left: 0; }
			.row .col.sm2 {
				width: 16.66667%;
				margin-left: 0; }
			.row .col.sm3 {
				width: 25%;
				margin-left: 0; }
			.row .col.sm4 {
				width: 33.33333%;
				margin-left: 0; }
			.row .col.sm5 {
				width: 41.66667%;
				margin-left: 0; }
			.row .col.sm6 {
				width: 50%;
				margin-left: 0; }
			.row .col.sm7 {
				width: 58.33333%;
				margin-left: 0; }
			.row .col.sm8 {
				width: 66.66667%;
				margin-left: 0; }
			.row .col.sm9 {
				width: 75%;
				margin-left: 0; }
			.row .col.sm10 {
				width: 83.33333%;
				margin-left: 0; }
			.row .col.sm11 {
				width: 91.66667%;
				margin-left: 0; }
			.row .col.sm12 {
				width: 100%;
				margin-left: 0; }
			.row .col.offset-sm1 {
				margin-left: 8.33333%; }
			.row .col.offset-sm2 {
				margin-left: 16.66667%; }
			.row .col.offset-sm3 {
				margin-left: 25%; }
			.row .col.offset-sm4 {
				margin-left: 33.33333%; }
			.row .col.offset-sm5 {
				margin-left: 41.66667%; }
			.row .col.offset-sm6 {
				margin-left: 50%; }
			.row .col.offset-sm7 {
				margin-left: 58.33333%; }
			.row .col.offset-sm8 {
				margin-left: 66.66667%; }
			.row .col.offset-sm9 {
				margin-left: 75%; }
			.row .col.offset-sm10 {
				margin-left: 83.33333%; }
			.row .col.offset-sm11 {
				margin-left: 91.66667%; }
			.row .col.offset-sm12 {
				margin-left: 100%; } }
		@media only screen and (min-width : 601px) {
			.row .col.m1 {
				width: 8.33333%;
				margin-left: 0; }
			.row .col.m2 {
				width: 16.66667%;
				margin-left: 0; }
			.row .col.m3 {
				width: 25%;
				margin-left: 0; }
			.row .col.m4 {
				width: 33.33333%;
				margin-left: 0; }
			.row .col.m5 {
				width: 41.66667%;
				margin-left: 0; }
			.row .col.m6 {
				width: 50%;
				margin-left: 0; }
			.row .col.m7 {
				width: 58.33333%;
				margin-left: 0; }
			.row .col.m8 {
				width: 66.66667%;
				margin-left: 0; }
			.row .col.m9 {
				width: 75%;
				margin-left: 0; }
			.row .col.m10 {
				width: 83.33333%;
				margin-left: 0; }
			.row .col.m11 {
				width: 91.66667%;
				margin-left: 0; }
			.row .col.m12 {
				width: 100%;
				margin-left: 0; }
			.row .col.offset-m1 {
				margin-left: 8.33333%; }
			.row .col.offset-m2 {
				margin-left: 16.66667%; }
			.row .col.offset-m3 {
				margin-left: 25%; }
			.row .col.offset-m4 {
				margin-left: 33.33333%; }
			.row .col.offset-m5 {
				margin-left: 41.66667%; }
			.row .col.offset-m6 {
				margin-left: 50%; }
			.row .col.offset-m7 {
				margin-left: 58.33333%; }
			.row .col.offset-m8 {
				margin-left: 66.66667%; }
			.row .col.offset-m9 {
				margin-left: 75%; }
			.row .col.offset-m10 {
				margin-left: 83.33333%; }
			.row .col.offset-m11 {
				margin-left: 91.66667%; }
			.row .col.offset-m12 {
				margin-left: 100%; } }

	@media only screen and (min-width : 850px) {
		.row .col.ml1 {
			width: 8.33333%;
			margin-left: 0; }
		.row .col.ml2 {
			width: 16.66667%;
			margin-left: 0; }
		.row .col.ml3 {
			width: 25%;
			margin-left: 0; }
		.row .col.ml4 {
			width: 33.33333%;
			margin-left: 0; }
		.row .col.ml5 {
			width: 41.66667%;
			margin-left: 0; }
		.row .col.ml6 {
			width: 50%;
			margin-left: 0; }
		.row .col.ml7 {
			width: 58.33333%;
			margin-left: 0; }
		.row .col.ml8 {
			width: 66.66667%;
			margin-left: 0; }
		.row .col.ml9 {
			width: 75%;
			margin-left: 0; }
		.row .col.ml10 {
			width: 83.33333%;
			margin-left: 0; }
		.row .col.ml11 {
			width: 91.66667%;
			margin-left: 0; }
		.row .col.ml12 {
			width: 100%;
			margin-left: 0; }
		.row .col.offset-ml1 {
			margin-left: 8.33333%; }
		.row .col.offset-ml2 {
			margin-left: 16.66667%; }
		.row .col.offset-ml3 {
			margin-left: 25%; }
		.row .col.offset-ml4 {
			margin-left: 33.33333%; }
		.row .col.offset-ml5 {
			margin-left: 41.66667%; }
		.row .col.offset-ml6 {
			margin-left: 50%; }
		.row .col.offset-ml7 {
			margin-left: 58.33333%; }
		.row .col.offset-ml8 {
			margin-left: 66.66667%; }
		.row .col.offset-ml9 {
			margin-left: 75%; }
		.row .col.offset-ml10 {
			margin-left: 83.33333%; }
		.row .col.offset-ml11 {
			margin-left: 91.66667%; }
		.row .col.offset-ml12 {
			margin-left: 100%; } }



		@media only screen and (min-width : 993px) {
			.row .col.l1 {
				width: 8.33333%;
				margin-left: 0; }
			.row .col.l2 {
				width: 16.66667%;
				margin-left: 0; }
			.row .col.l3 {
				width: 25%;
				margin-left: 0; }
			.row .col.l4 {
				width: 33.33333%;
				margin-left: 0; }
			.row .col.l5 {
				width: 41.66667%;
				margin-left: 0; }
			.row .col.l6 {
				width: 50%;
				margin-left: 0; }
			.row .col.l7 {
				width: 58.33333%;
				margin-left: 0; }
			.row .col.l8 {
				width: 66.66667%;
				margin-left: 0; }
			.row .col.l9 {
				width: 75%;
				margin-left: 0; }
			.row .col.l10 {
				width: 83.33333%;
				margin-left: 0; }
			.row .col.l11 {
				width: 91.66667%;
				margin-left: 0; }
			.row .col.l12 {
				width: 100%;
				margin-left: 0; }
			.row .col.offset-l1 {
				margin-left: 8.33333%; }
			.row .col.offset-l2 {
				margin-left: 16.66667%; }
			.row .col.offset-l3 {
				margin-left: 25%; }
			.row .col.offset-l4 {
				margin-left: 33.33333%; }
			.row .col.offset-l5 {
				margin-left: 41.66667%; }
			.row .col.offset-l6 {
				margin-left: 50%; }
			.row .col.offset-l7 {
				margin-left: 58.33333%; }
			.row .col.offset-l8 {
				margin-left: 66.66667%; }
			.row .col.offset-l9 {
				margin-left: 75%; }
			.row .col.offset-l10 {
				margin-left: 83.33333%; }
			.row .col.offset-l11 {
				margin-left: 91.66667%; }
			.row .col.offset-l12 {
				margin-left: 100%; } }



	@media only screen and (min-width : 1150px) {
		.row .col.ll1 {
			width: 8.33333%;
			margin-left: 0; }
		.row .col.ll2 {
			width: 16.66667%;
			margin-left: 0; }
		.row .col.ll3 {
			width: 25%;
			margin-left: 0; }
		.row .col.ll4 {
			width: 33.33333%;
			margin-left: 0; }
		.row .col.ll5 {
			width: 41.66667%;
			margin-left: 0; }
		.row .col.ll6 {
			width: 50%;
			margin-left: 0; }
		.row .col.ll7 {
			width: 58.33333%;
			margin-left: 0; }
		.row .col.ll8 {
			width: 66.66667%;
			margin-left: 0; }
		.row .col.ll9 {
			width: 75%;
			margin-left: 0; }
		.row .col.ll10 {
			width: 83.33333%;
			margin-left: 0; }
		.row .col.ll11 {
			width: 91.66667%;
			margin-left: 0; }
		.row .col.ll12 {
			width: 100%;
			margin-left: 0; }
		.row .col.offset-ll1 {
			margin-left: 8.33333%; }
		.row .col.offset-ll2 {
			margin-left: 16.66667%; }
		.row .col.offset-ll3 {
			margin-left: 25%; }
		.row .col.offset-ll4 {
			margin-left: 33.33333%; }
		.row .col.offset-ll5 {
			margin-left: 41.66667%; }
		.row .col.offset-ll6 {
			margin-left: 50%; }
		.row .col.offset-ll7 {
			margin-left: 58.33333%; }
		.row .col.offset-ll8 {
			margin-left: 66.66667%; }
		.row .col.offset-ll9 {
			margin-left: 75%; }
		.row .col.offset-ll10 {
			margin-left: 83.33333%; }
		.row .col.offset-ll11 {
			margin-left: 91.66667%; }
		.row .col.offset-ll12 {
			margin-left: 100%; } }

